.layout-hard {
  text-align: center;
  border-style: ridge;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  background-color: #f1f1f1;
  width: 770px;
  height: auto;
  margin: 30px;
}
.layout-medium {
  text-align: center;
  border-style: ridge;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  background-color: #f1f1f1;
  width: 550px;
  height: auto;
  margin: 30px;
}
.layout-easy {
  text-align: center;
  border-style: ridge;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  background-color: #f1f1f1;
  width: 300px;
  height: auto;
  margin: 30px;
}



