.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.game-over {
  color: brown;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}